/* line 1, ../sass/main.scss */
body {
  background-color: #131313;
  overflow: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}

/* line 9, ../sass/main.scss */
#app {
  margin-top: 5%;
}

/* line 14, ../sass/main.scss */
hr {
  border-top: 1px solid #B9B9B9;
}

/* line 17, ../sass/main.scss */
.list {
  margin: 0px;
  padding: 0px;
}
/* line 20, ../sass/main.scss */
.list .task {
  display: block;
  font-weight: 600;
  margin-top: 6px;
}
/* line 24, ../sass/main.scss */
.list .task hr {
  margin: 5px;
}
/* line 27, ../sass/main.scss */
.list .task .checkBox.complete {
  background-color: gray;
}
/* line 31, ../sass/main.scss */
.list .complete {
  text-decoration: line-through;
  color: gray;
}

/* line 37, ../sass/main.scss */
.checkBox {
  margin: -2px 15px;
  width: 14px;
  height: 14px;
  border: solid 1px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: inset 0px 0.7px 1px #0D3E0F;
}
/* line 46, ../sass/main.scss */
.checkBox:after {
  width: 19px;
  height: 19px;
  border: 1px #E0E0E0;
  border-style: outset;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin-left: -3px;
  margin-top: -3px;
}

/* line 59, ../sass/main.scss */
.addTaskBox {
  border-radius: 20px;
  border: solid 1px green;
}

/* line 63, ../sass/main.scss */
.addTask {
  border: none;
  background: transparent;
  font-style: italic;
  width: 60%;
  margin-left: 45px;
}
/* line 69, ../sass/main.scss */
.addTask:focus {
  outline: none;
}

@media (max-width: 510px) {
  /* line 75, ../sass/main.scss */
  .toDoHeader {
    text-align: center;
  }

  /* line 78, ../sass/main.scss */
  body {
    font-size: 20px;
  }
}
@media (max-width: 510px) and (max-width: 510px) {
  /* line 82, ../sass/main.scss */
  .well .btn {
    width: 100%;
    margin-top: 20px;
    float: none !important;
  }
}
