/* line 1, ../sass/main.scss */
body {
  background-color: #131313;
  overflow: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #565656;
}

/* line 9, ../sass/main.scss */
#app {
  margin-top: 5%;
}

/* line 14, ../sass/main.scss */
hr {
  border-top: 1px solid #B9B9B9;
}

/* line 17, ../sass/main.scss */
.list {
  margin: 0px;
  padding: 0px;
}
/* line 20, ../sass/main.scss */
.list .task {
  display: block;
  font-weight: 600;
}
/* line 23, ../sass/main.scss */
.list .task .checkBox.complete {
  background-color: #8BC34A;
}
/* line 27, ../sass/main.scss */
.list .complete {
  text-decoration: line-through;
  color: gray;
}

/* line 33, ../sass/main.scss */
.checkBox {
  margin: -2px 15px;
  width: 15px;
  height: 15px;
  border: solid 1px;
  border-radius: 50%;
  display: inline-block;
}

/* line 42, ../sass/main.scss */
.addTaskBox {
  border-radius: 20px;
  border: solid 1px green;
}

/* line 46, ../sass/main.scss */
.addTask {
  border: none;
  background: transparent;
  font-style: italic;
  width: 60%;
  margin-left: 45px;
}
/* line 52, ../sass/main.scss */
.addTask:focus {
  outline: none;
}

@media (max-width: 510px) {
  /* line 58, ../sass/main.scss */
  .toDoHeader {
    text-align: center;
  }

  /* line 61, ../sass/main.scss */
  body {
    font-size: 20px;
  }
}
@media (max-width: 510px) and (max-width: 510px) {
  /* line 65, ../sass/main.scss */
  .well .btn {
    width: 100%;
    margin-top: 20px;
    float: none !important;
  }
}
